<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" name="log4j-custom-layout">

	<Properties>
        <Property name="LOG_PATTERN">
            %d{yyyy-MM-dd HH:mm:ss.SSS} %5p ${hostName} %X{correlationId} +++++ [%15.15t] %-40.40c{1.} : %m%n%ex
        </Property>
        
    </Properties>
    <Appenders>
        <Console name="ConsoleAppender" target="SYSTEM_OUT" follow="true"/>
    </Appenders>

    <Loggers>
        <Root level="ALL">
            <AppenderRef ref="ConsoleAppender"/>
        </Root>
    </Loggers>
</Configuration>